/* Universal */
* {
  margin: 0;
}

html, body {
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  min-width: 20rem;
  max-width: 30rem;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Elements */
header {
  padding: 2.75rem 0;
  border-bottom: 1px solid lightgray;
}

header > h1 {
  font-weight: 800;
  margin-bottom: 0.625rem;
}

p {
  font-family: 'Merriweather', serif;
}

h2, h5, h3 {
  font-weight: 600;
  padding-top: 0.625rem;
}

h2 {
  font-size: 1.6rem;
}

h5 {
  font-size: 0.9rem;
}

h3 {
  font-size: 1.3rem;
}

a {
  color: #000;
  text-decoration: none;
}

/* Classes and IDs */
#feature {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

#feature img {
  width: 100%;
}

.face > img {
  width: 100%;
  border-radius: 50%;
}

.face {
  width: 2.5rem;
  height: 2.5rem;
}

.stamp {
  display: flex;
  padding-top: 1.25rem;
}

.name-date-mins {
  padding-left: 0.625rem;
}

.post img {
  width: 100%;
}

.post {
  width: 16.875rem;
  padding-top: 2.25rem;
  margin: 0 auto;
}

/* Medium devices */
@media only screen and (min-width: 37.5rem) {
  body {
    max-width: 39.5rem;
  }
  #blog-posts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .post {
    margin: 0;
  }
}

/* Large Devices */
@media only screen and (min-width: 56.25rem) {
  body {
    max-width: 58.25rem;
    margin: 4.75rem auto 7.5rem;
  }
  #feature {
    flex-direction: row;
    justify-content: space-between;
  }
  #feature > a {
    width: 65%;
  }
  #feature > .text-content {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 2.1875rem;
  }
  #feature .text-content > * {
    width: 16.875rem;
  }
}
